{% extends 'base.html' %}


{% block title %}
  {{post.title|truncatechars:10}}
{% endblock title %}
  

{% block content %}
  
  <img src="{{blog.image.url}}" alt="picture of the blog" style="width: 50rem;">

  <h1>{{blog.title}}</h1>
  <small>By: {{blog.author}}</small>
  <br>
 
  <h6>CONTENT</h6>
  <p>{{blog.content}}</p>

  <div class="update-blog">
  
      <a href="{% url 'update' blog.id %}">
          <button class="btn btn-primary">Update</button>
      </a> 

      <a href="{% url 'delete' blog.id %}">
        <button class="btn btn-danger">Delete</button>
      </a>

  </div>


{% endblock content %}
  
