{% extends 'blog/base.html' %}

{% block title %}Login{% endblock title %}
  
{% block content %}  
<h1>LOGIN</h1>
<form>
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" >
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="mb-3 form-check">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="{% url %}">Forgot Password?</a>
  </div>
  <hr>
  <div>
    <p>Need an account?</p>
    <a href="{% url 'sign_up' %}"></a>
  </div>
</form>

  
{% endblock content %}

